---
import type { AstroInstance } from 'astro'
import Card from '../Card.astro'
const data = (await Astro.glob(
  '../../pages/entradas/202[3-9]/**/*.astro'
)) as Entry[] & AstroInstance[]

data.sort(
  (a, b) => new Date(b.updated).getTime() - new Date(a.updated).getTime()
)

const dataToRender = data.slice(0, 10)
console.log(data[0].url)
import { url as urlBase } from '../../scripts/url'

console.log(data[0].url.split('/').slice(-4).join('/').split('.')[0])
---

<div data-pagefind-ignore>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    {
      dataToRender.map((e: any) => {
        let url = e.url
        url = e.url.split('/').slice(-4).join('/').split('.')[0]

        return (
          <Card
            title={e.title}
            url={url}
            cover={e.cover}
            updated={e.updated}
            tags={e.tags}
          />
        )
      })
    }
  </div>
</div>
