---
import { url as urlLocal } from '../scripts/url'
export interface Props {
  outerDiv: string
  buttonGroup: string
  button: string
  activeButton: string
  disabledButton: string
  currentPage: Number
  totalPage: Number
  url: string
}

const {
  outerDiv = 'flex items-center justify-center',
  buttonGroup = '',
  button = 'relative flex-nowrap inline-flex items-center px-4 py-2 border text-sm font-medium',
  activeButton = 'bg-sky-500 text-white',
  disabledButton = 'disabled:opacity-75',
  currentPage,
  totalPage,
  url,
} = Astro.props as Props

let pageStatuses = Array.from({ length: totalPage }, (v, i) => i + 1).map(
  (i) => {
    var item = {
      pageNumber: i,
      isActive: currentPage == i,
      isDisabled: isDisabled(i),
    }
    return item
  }
)

function isDisabled(i) {
  if (totalPage <= 6) return false
  if (i <= 2 || i >= totalPage - 1) return false
  if (currentPage == i - 1 || currentPage == i || currentPage == i + 1)
    return false
  return true
}
---

<div class={outerDiv}>
  <div class={buttonGroup}>
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-caret-left-filled"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M13.883 5.007l.058 -.005h.118l.058 .005l.06 .009l.052 .01l.108 .032l.067 .027l.132 .07l.09 .065l.081 .073l.083 .094l.054 .077l.054 .096l.017 .036l.027 .067l.032 .108l.01 .053l.01 .06l.004 .057l.002 .059v12c0 .852 -.986 1.297 -1.623 .783l-.084 -.076l-6 -6a1 1 0 0 1 -.083 -1.32l.083 -.094l6 -6l.094 -.083l.077 -.054l.096 -.054l.036 -.017l.067 -.027l.108 -.032l.053 -.01l.06 -.01z"
          stroke-width="0"
          fill="currentColor"></path></svg
      >
    </div>
    {
      pageStatuses.map((pageStatus, index) =>
        pageStatus.isActive ? (
          <a class={`${button} ${activeButton}`}>{currentPage}</a>
        ) : pageStatus.isDisabled && !pageStatuses[index - 1].isDisabled ? (
          <a class={`${button} ${disabledButton}`}>...</a>
        ) : (
          !pageStatus.isDisabled && (
            <a
              class={button}
              href={`${urlLocal}/${url}/${pageStatus.pageNumber}`}
            >
              {pageStatus.pageNumber}
            </a>
          )
        )
      )
    }
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-caret-right-filled"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M9 6c0 -.852 .986 -1.297 1.623 -.783l.084 .076l6 6a1 1 0 0 1 .083 1.32l-.083 .094l-6 6l-.094 .083l-.077 .054l-.096 .054l-.036 .017l-.067 .027l-.108 .032l-.053 .01l-.06 .01l-.057 .004l-.059 .002l-.059 -.002l-.058 -.005l-.06 -.009l-.052 -.01l-.108 -.032l-.067 -.027l-.132 -.07l-.09 -.065l-.081 -.073l-.083 -.094l-.054 -.077l-.054 -.096l-.017 -.036l-.027 -.067l-.032 -.108l-.01 -.053l-.01 -.06l-.004 -.057l-.002 -12.059z"
          stroke-width="0"
          fill="currentColor"></path></svg
      >
    </div>
  </div>
</div>
