---
const data = await Astro.glob('../pages/entradas/**/*.astro')
data.sort((a, b) => new Date(b.updated) - new Date(a.updated))
console.log(data[0].url)
import { url as urlBase } from '../scripts/url'

console.log(data[0].url.split('/').slice(-4).join('/').split('.')[0])
---

<div>
  <div></div>
  <div class="grid grid-cols-4 gap-3">
    {
      data.map((e) => {
        let url = e.url
        url = e.url.split('/').slice(-4).join('/').split('.')[0]

        return (
          <a
            href={`${urlBase}/${url}`}
            class="bg-slate-800  p-2 rounded m-1 text-white h-60 overflow-hidden"
          >
            {new Date(e.updated).toLocaleDateString()}
            <p class="font-lilita text-2xl">{e.title}</p>
            <img src={e.cover} alt="img" class="w-full mx-auto rounded-md" />

            <div class="flex flex-wrap gap-2 pt-5">
              {e.tags.map((tag) => {
                if (tag)
                  return (
                    <div class="bg-slate-400 rounded-full text-white text-xs p-1 px-3">
                      {tag}
                    </div>
                  )
              })}
            </div>
          </a>
        )
      })
    }
  </div>
</div>
